:root {
    --gray: rgb(35, 33, 46);
    --blue: rgb(40, 40, 120);
    --whiteish: rgb(204, 210, 231);
}

html {
    background-color: var(--gray);
}

h1 {
    color: var(--whiteish);
}

main {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

#startButton {
    padding: 25px 80px 25px 80px;
    margin: 200px;
    background-color: var(--blue);
    border: none;
}

#quiz-area {
    display: flex;
    position: relative;
    justify-content: center;
}